<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand">Academics</a></div>
 
        <ul class="navbar-nav">
            <li><a   routerLink="/login" class="nav-link">Login</a></li>
            <li> <a   routerLink="add" class="nav-link"  routerLinkActive="active">RegisterFaculty</a></li>
            <li> <a   routerLink="addbatch" class="nav-link"  routerLinkActive="active">AddBatch</a></li>
            <li> <a   routerLink="batch" class="nav-link" routerLinkActive="active">ViewBatchDetails</a></li>
            <li> <a    routerLink="faculty" class="nav-link" routerLinkActive="active">ViewFacultyDetails</a></li>
            <li> <a    routerLink="search" class="nav-link" routerLinkActive="active">SearchFacultyDetails</a></li>

        </ul>
       <ul class="navbar-nav ml-auto">
            <li><span  class="navbar-text text-primary">
                welcome</span></li>
            <li><a  routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul>
       
       
    </nav>
</header>
