<h3>Edit FacultyDetails</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onUpdate()" #facultyform="ngForm">
    <div class="form-group">
        <label for="facultyId">FacultyId</label>
        <input type="text" class="form-control" id="facultyId" required [(ngModel)]="faculty.facultyId" 
        name="facultyId" #facultyId="ngModel" [class.is-invalid]="facultyId.invalid && facultyId.touched">
        <small class="text-danger" [class.d-none]="facultyId.valid || facultyId.untouched">FacultyId is required</small>
      </div>
    <div class="form-group">
      <label for="facultyName">FacultyName</label>
      <input type="text" class="form-control" id="facultyName" required [(ngModel)]="faculty.facultyName" 
      name="facultyName" #facultyName="ngModel" [class.is-invalid]="facultyName.invalid && facultyName.touched">
      <small class="text-danger" [class.d-none]="facultyName.valid || facultyName.untouched">FacultyName is required</small>
    </div>

    <div class="form-group">
        <label for="facultyCourse">FacultyCourse</label>
        <input type="text" class="form-control" id="facultyCourse" required [(ngModel)]="faculty.facultyCourse" 
        name="facultyCourse" #facultyCourse="ngModel" [class.is-invalid]="facultyCourse.invalid && facultyCourse.touched">
        <small class="text-danger" [class.d-none]="facultyCourse.valid || facultyCourse.untouched">FacultyCourse is required</small>
      </div>
 
    
 
    <div class="form-group">
        <label>EmailId</label>
        <input type="email" class="form-control" name="emailId" #emailId=ngModel [(ngModel)]="faculty.emailId" required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="emailId.invalid && emailId.touched">
        <div *ngIf="emailId.errors && (emailId.invalid || emailId.touched)">
        <small class="text-danger" *ngIf="emailId.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="emailId.errors.pattern">Please enter the valid email</small>
        </div>

    </div>
 
    <button type="submit" class="btn btn-success" [disabled]="facultyform.form.invalid">Submit</button>
  </form>
</div>

 

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  
  <button type="submit" class="btn btn-success">Update</button>
</div>

