<h3>List of BatchDetails</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>BatchId</th>
      <th>BatchName</th>
      <th>NoOfTrainees</th>
      <th>BatchStartDate</th>
      <th>BatchEndDate</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let viewbatch of batch | async">
       <td>{{viewbatch.batchId}}</td>
       <td>{{viewbatch.batchName}}</td>
       <td>{{viewbatch.noOfTrainees}}</td>
       <td>{{viewbatch.batchStartdate}}</td>
       <td>{{viewbatch.batchEnddate}}</td>
       <td><span class="button is-small btn-info" (click)="editBatch(batch)">Edit</span> 
        <span class="button is-small btn-info" (click)="deleteBatch(batch)">Delete</span></td>
    </tr>
  </tbody>
</table>

