<h3>List of FacultyDetails</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>FacultyId</th>
      <th>FacultyName</th>
      <th>FacultyCourse</th>
      <th>FacultyEmailId</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faculties of faculty | async">
       <td>{{faculties.facultyId}}</td>
       <td>{{faculties.facultyName}}</td>
       <td>{{faculties.facultyCourse}}</td>
       <td>{{faculties.emailId}}</td>
       <td><span class="button is-small btn-info" (click)="editFaculty(faculties)">Edit</span> 
        <span class="button is-small btn-info" (click)="deleteFaculty(faculties)">Delete</span></td>
    </tr>
  </tbody>
</table>
