<h3>Find By FacultyId</h3>
<div style="width: 300px;" class="sform">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="facultyId">FacultyId</label>
      <input type="text" class="form-control" id="facultyId" required [(ngModel)]="facultyId" name="facultyId">
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<br/>
<div>

    <div [hidden]="!submitted">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Faculty ID</th>
                  <th>FacultyName</th>
                  <th>FacultyCourse</th>
                  <th>EmailId</th>
                </tr>
              </thead>
        <tbody>
          <tr *ngFor="let f of faculties ">
            <td>{{f.facultyid}}</td>
            <td>{{f.facultyName}}</td>
            <td>{{f.facultyCourse}}</td>
            <td>{{f.emailid}}</td>
          </tr>
        </tbody>
        </table>
        </div>
        </div>

