<h3>Registration BatchDetails</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #batchform="ngForm">
    <div class="form-group">
        <label for="batchId">BatchId</label>
        <input type="text" class="form-control" id="batchId" required [(ngModel)]="batch.batchId" 
        name="batchId" #batchId="ngModel" [class.is-invalid]="batchId.invalid && batchId.touched">
        <small class="text-danger" [class.d-none]="batchId.valid || batchId.untouched">BatchId is required</small>
      </div>
    <div class="form-group">
      <label for="batchName">BatchName</label>
      <input type="text" class="form-control" id="batchName" required [(ngModel)]="batch.batchName" 
      name="batchName" #batchName="ngModel" [class.is-invalid]="batchName.invalid && batchName.touched">
      <small class="text-danger" [class.d-none]="batchName.valid || batchName.untouched">BatchName is required</small>
    </div>

    <div class="form-group">
        <label for="noOfTrainees">NoOfTrainees</label>
        <input type="text" class="form-control" id="noOfTrainees" required [(ngModel)]="batch.noOfTrainees" 
        name="noOfTrainees" #noOfTrainees="ngModel" [class.is-invalid]="noOfTrainees.invalid && noOfTrainees.touched">
        <small class="text-danger" [class.d-none]="noOfTrainees.valid ||noOfTrainees.untouched">NoOfTrainees is required</small>
      </div>

      <div class="form-group">
        <label for="batchStartdate">BatchStartdate</label>
        <input type="date" class="form-control" id="batchStartdate" required [(ngModel)]="batch.batchStartdate" 
        name="batchStartdate" #batchStartdate="ngModel" [class.is-invalid]="batchStartdate.invalid && batchStartdate.touched">
        <small class="text-danger" [class.d-none]="batchStartdate.valid || batchStartdate.untouched">BatchStartdate is required</small>
      </div>

      <div class="form-group">
        <label for="batchEnddate">BatchEnddate</label>
        <input type="date" class="form-control" id="batchEnddate" required [(ngModel)]="batch.batchEnddate" 
        name="batchEnddate" #batchEnddate="ngModel" [class.is-invalid]="batchEnddate.invalid && batchEnddate.touched">
        <small class="text-danger" [class.d-none]="batchEnddate.valid || batchEnddate.untouched">BatchEnddate is required</small>
      </div>

 
    
 
   
 
    <button type="submit" class="btn btn-success" [disabled]="batchform.form.invalid">Submit</button>
  </form>
</div>

 

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newBatch()">Add</button>
</div>
